<div>
    <div>
        <p>Have an account? <a href="/signin">Sign in</a>
    </div>
    <div>
        <h1>OKClone</h1>
        <h2>Join the clone of the best free dating site on Earth.</h2>
        <form method="get" action="/register">
            <p>I am a 
            <select name="orientation">
                <option value="1">Straight</option>
                <option value="2">Gay</option>
                <option value="3">Bisexual</option>
            </select>
            <select name="gender">
                <option value="1">Female</option>
                <option value="2">Male</option>
            <select>
            <button type="submit">Continue</button>
            </p>
            <span><input type="checkbox"> I don't want to see or be seen by straight people.</span>
        </form>
    </div>
    <div>
        <div>
            <p>Signing up takes less than 15 minutes and is totally free.</p>
        </div>
        <div>
            <p>Our matching algorithm helps you find people. Who knows if they are the right people.</p>
        </div>
        <div>
            <p>iOS or Android? Not yet. But we're all about <a href="http://en.wikipedia.org/wiki/Responsive_web_design">RWD</a>.</p>
        </div>
    </div>
    <div>
        <a href="/about">About OKClone</a> | <a href="/legal/terms">Legal</a> | &copy; <a href="http://www.agileronin.com">Agile Ronin Software, LLC.</a>
    </div>
    <div>
        <p>"I've never even heard of this damn website!" <span>- Some random guy at Starbucks</span></p>
    </div>
</div>
