<div>
    <h1>OKClone</h1>
    <form method="post" action="/register">
        <div>
            <p>Birthdate</p>
            <input type="text" name="month" placeholder="MM">
            <input type="text" name="date" placeholder="DD">
            <input type="text" name="year" placeholder="YYYY">
        </div>
        <div>
            <p>Country</p>
            <select name="country">
                <option value="1">United States</option>
            </select>
        </div>
        <div>
            <p>Zip Code</p>
            <input type="text" name="zip" placeholder="e.g. 26505">
        </div>
        <div>
            <p>Email</p>
            <input type="text" name="email" placeholder="e.g. jdoe@somewhere.com">
        </div>
        <div>
            <input type="email" name="confirm_email" placeholder="Confirm email">
        </div>
        <button type="submit">Next</button>
    </form>
</div>
