<div>
    <h1>Sign in</h1>
    <form method="post" action="/auth">
        <input type="text" name="username" placeholder="Your email or username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Let's Go!</button>
    </form>
    <div>
        <p><a href="/password/recover">Forgot your password?</a></p>
    <div>
    <hr>
    <div>
        <button>Sign In</button>
    </div>
</div>
